<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/restaurant-app.log</file>
        <encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/restaurant-app-%d{yyyy-MM-dd:HH}--%i.log</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

    <logger name="com.tokioschool.spring.service.impl" level="trace"/>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>


</configuration>
